{% extends 'common.html' %}

{% block body %}

<div class="p-0 container">
    <form method="post">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    Create New Paste
                </legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control w-100 d-inline bg-info text-white") }}

                        {% if form.title.errors%}
                        {{form.title(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                            <span>{{error}}</span>
                            {% endfor %}
                        </div>
                        {%else%}
                    {{ form.title(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control w-100 bg-info d-inline text-white") }}
                    {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                        <span>
                        {{error}}
                        </span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{ form.content(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>


            </fieldset>
        </div>
    </form>
</div>










{% endblock body %}
