{%extends 'common.html'%}

{%block body%}

<div class="p-0 container w-50">
    <form method="post">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    Login Form
                </legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control w-100 bg-info d-inline text-white") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>
                        {{error}}
                        </span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{ form.email(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control w-100 bg-info d-inline text-white") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span>
                        {{error}}
                        </span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{ form.password(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{ form.remember(class="d-inline form-check-input")}}
                     {{ form.remember.label(class="form-control form-check-label border-0 w-25 d-inline") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                <bold class="text-muted ">
                   <a href="{{url_for('users.reset_request')}}">Forgot password?</a>
               </bold>
                </div>
            </fieldset>
        </div>
         <div class="border-top pb-5">
    <small class="text-muted">
        Doesn't have an account ? <a href="{{url_for('users.register')}}" class="ml-2"> Sign up!</a>
    </small>
    </form>
</div>


{%endblock%}
