{% extends 'common.html' %}
{% block body %}

<div class="container">
<h1 class="p-2 my-auto bg-warning text-center"> Your posts</h1>
</div>

<div class="posthtmlbtn">
{% if current_user.username == post.author.username%}
<button type="button" class="btn btn-primary"  onclick="window.location.href='{{url_for('posts.post_update',post_id=post.id)}}';">Update Post</button>
<button type="button"  class="btn btn-danger"  onclick="window.location.href='{{url_for('posts.delete_post',post_id=post.id)}}';">Delete Post</button>
{% endif %}
</div>

<article class="media content-section">
    <div>
        <img src="{{post.author.avatar(50)}}">
    </div>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2><a class="article-title" href="{{url_for('posts.post_update',post_id=post.id)}}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content |truncate(50)}}</p>
  </div>
</article>
{% endblock body %}

