{% extends 'common.html' %}

{% block body %}
<div class="containers">

<table class="bg-secondary p-3 tablestyle">
        <tr valign="top">
            <td><img class="img-fluid" src="{{ user.avatar(500) }}"></td>
            <td>
                <h1 class="text-center bg-primary p-2 m-2 text-white" >User: {{ user.username|upper }}</h1>
                <p class="text-center bg-info p-1 m-2 text-white"> Email: {{user.email}}</p>
                 {% if user.last_seen %}<p class="text-center bg-info p-1 m-2 text-white">Last seen on: {{ user.last_seen }}</p>{% endif %}
                <p class="text-center p-2 m-2 bg-danger text-white"> About Me: {{user.about_me}}
                </p>
            </td>
        </tr>
</table>
</div>
{% endblock body %}
