{% extends 'common.html' %}


{% block body %}

<div class="p-0 container w-50">
    <form method="post">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom">
                    Reset Request Form
                </legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control w-100 bg-info d-inline text-white") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>
                        {{error}}
                        </span>
                        {%endfor%}
                    </div>
                    {%else%}
                    {{ form.email(class="form-control form-control-lg")}}
                    {%endif%}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </div>
{% endblock body %}
